celery
sentry
mysql-python
# For gevent support with sentry:
gevent
# For udp support in sentry:
eventlet
# For queue/buffers support in sentry:
redis
nydus
# For nice gunicorn/celery process names:
setproctitle
# A middleware to force SSL on sentry
django-sslify
